<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Connect Nigeria</title>
    <link rel="stylesheet" href="../css/artisangrid.css">
</head>
<body>
    <footer class="footer">
            <div class="footer-content">
                <div class="footer-left">
                <h3>ServiceConnect</h3>
                <p>© 2024 ServiceConnect Nigeria. Connecting local expertise to your doorstep.</p>
                </div>

                <div class="footer-links">
                <a href="#">About Us</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
                <a href="#">Help Center</a>
                <a href="#">Contact</a>
                </div>

                <div class="footer-icons">
                <button class="sc-btn sc-btn--icon"><i class="fa-solid fa-share-nodes">
                    <span class="flowbite--share-nodes-outline"></span>
                </i></button>
                <button class="sc-btn sc-btn--icon"><i class="fa-solid fa-globe">
                    <span class="material-symbols--globe"></span>
                </i></button>
                </div>
            </div>
    </footer>
</body>
</html>